dist/aclocal.m4
dist/autom4te.cache
dist/compile
dist/config.*
dist/configure
dist/depcomp
dist/install-sh
dist/ltmain.sh
dist/Makefile.in
dist/m4/libtool.m4
dist/m4/lt*.m4
dist/missing
dist/stamp-h.in
dist/tags
cl/extern.h
common/extern.h
*_def.h
ex/extern.h
ex/version.h
gtk/extern.h
ip/extern.h
ipc/extern.h
ipc/ipc_gen.c
motif/extern.h
motif_l/extern.h
perl_api/extern.h
tcl_api/extern.h
vi/extern.h
